{% extends 'base.html.twig' %}

{% block title %}List of all cars{% endblock %}

{% block body %}

<a href= {{ path('app_car_add') }}>
<button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
  + Add Car
</button>
</a>

<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
  {% if cars|length > 0 %}
    {% for car in cars %}
      <a href={{ path('app_car_show', {id: car.id}) }}>
        {{ include('car/_car_profile.html.twig', {car: car}) }}
      </a>
    {% endfor %}
  {% else %}
    There's nothing here yet!
  {% endif %}
</div>

{% endblock %}


